@font-face {
  font-family: "TTChocolates";
  src: url("fonts/Barlow-Regular.woff") format("woff"), url("fonts/Barlow-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "TTChocolates";
  src: url("fonts/Barlow-SemiBold.woff") format("woff"), url("fonts/Barlow-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "TTChocolates";
  src: url("fonts/Barlow-Bold.woff") format("woff"), url("fonts/Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "TTChocolates";
  src: url("fonts/Barlow-Italic.woff") format("woff"), url("fonts/Barlow-Italic.woff2") format("woff2");
  font-style: italic;
}
@font-face {
  font-family: "TTChocolates";
  src: url("fonts/Barlow-BoldItalic.woff") format("woff"), url("fonts/Barlow-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
}
html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "TTChocolates", sans-serif;
  font-size: 1rem;
  color: #2A4A5C;
  line-height: 1.6rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  color: #7B8A92;
}

p {
  margin: 0 0 10px;
}

.container {
  height: 100vh;
  min-height: 860px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAF3FC;
}

.content {
  display: flex;
  max-width: 1240px;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    height: 100%;
  }
}

.img-block {
  display: block;
  max-width: 100%;
  margin: 0;
  text-align: center;
  height: 860px;
  position: relative;
}
@media (max-width: 1240px) {
  .img-block {
    display: none;
  }
}
.img-block .image-background {
  max-height: 100%;
  width: auto;
  object-fit: cover;
}

.logo {
  display: block;
  height: 25px;
  width: auto;
  position: absolute;
  top: 45px;
  left: 45px;
}

.box-form {
  width: 620px;
  height: 860px;
  padding: 100px 65px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(124, 124, 124, 0.3);
}
@media (max-width: 1240px) {
  .box-form {
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .box-form {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .box-form {
    padding: 50px 50px;
  }
}
.box-form .container-register-social h1 {
  font-size: 1.6rem;
}
.box-form .container-register-social h2 {
  font-size: 1rem;
  margin: 0.7rem 0;
}
.box-form .container-register-social .buttons-container {
  display: flex;
  margin: 40px 0;
}
@media (max-width: 576px) {
  .box-form .container-register-social .buttons-container {
    flex-wrap: wrap;
  }
}
.box-form .container-register-social .buttons-container .social-button {
  width: 100%;
  height: 37px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  border-radius: 1px;
  border: none;
}
.box-form .container-register-social .buttons-container .social-button a {
  text-decoration: none;
  font-size: 0.7rem;
  color: #FFFFFF;
}
.box-form .container-register-social .buttons-container .social-button a .facebook {
  height: 100%;
  margin-right: 1rem;
  background-color: #255A9B;
  line-height: 37px;
  position: relative;
}
@media (max-width: 576px) {
  .box-form .container-register-social .buttons-container .social-button a .facebook {
    margin: 0;
  }
}
.box-form .container-register-social .buttons-container .social-button a .facebook:hover {
  background-color: red;
}
.box-form .container-register-social .buttons-container .social-button a .facebook:active {
  background-color: #931600;
}
.box-form .container-register-social .buttons-container .social-button a .facebook:before {
  display: block;
  height: 19px;
  width: 19px;
  content: url("img/facebook.svg");
  position: absolute;
  top: 5px;
  left: 8px;
}
.box-form .container-register-social .buttons-container .social-button a .linked-in {
  margin-left: 1rem;
  height: 100%;
  line-height: 37px;
  background: #0076B6;
  position: relative;
}
@media (max-width: 576px) {
  .box-form .container-register-social .buttons-container .social-button a .linked-in {
    margin: 10px 0;
  }
}
.box-form .container-register-social .buttons-container .social-button a .linked-in:hover {
  background-color: red;
}
.box-form .container-register-social .buttons-container .social-button a .linked-in:active {
  background-color: #931600;
}
.box-form .container-register-social .buttons-container .social-button a .linked-in:before {
  display: inline-block;
  width: 19px;
  height: 19px;
  content: url("img/in.svg");
  position: absolute;
  top: 4px;
  left: 10px;
}
.box-form .container-register-social .buttons-container .social-button:focus {
  outline: none;
}
.box-form .container-register-social .container-or {
  width: 100%;
  margin: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-form .container-register-social .container-or .text-or {
  position: relative;
  font-weight: 600;
  font-size: 0.6rem;
}
.box-form .container-register-social .container-or .text-or:after {
  display: block;
  content: "";
  width: 90px;
  height: 1px;
  background-color: #EEEEEE;
  position: absolute;
  right: -115px;
  top: 10px;
}
.box-form .container-register-social .container-or .text-or:before {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #EEEEEE;
  position: absolute;
  right: 35px;
  top: 10px;
}
.box-form .container-email-phone {
  display: flex;
}
@media (max-width: 576px) {
  .box-form .container-email-phone {
    flex-direction: column;
  }
}
.box-form .container-email-phone .form-email {
  width: 100%;
  height: 50px;
  padding-bottom: 40px;
  margin-right: 15px;
  border: 1px solid #EEEEEE;
  border-radius: 1px;
}
@media (max-width: 576px) {
  .box-form .container-email-phone .form-email {
    margin: 5px 0;
  }
}
.box-form .container-email-phone .form-email p {
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: #96A5B1;
}
.box-form .container-email-phone .form-email:hover {
  border-left-color: #0076B6;
}
.box-form .container-email-phone .form-email .input-email {
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
  border: none;
}
.box-form .container-email-phone .form-email .input-email:focus {
  outline: none;
}
.box-form .container-email-phone .form-email:last-child {
  margin-right: 0;
  margin-left: 15px;
}
@media (max-width: 576px) {
  .box-form .container-email-phone .form-email:last-child {
    margin: 5px 0;
  }
}
.box-form .container-create-account {
  margin: 50px 0;
}
@media (max-width: 576px) {
  .box-form .container-create-account {
    margin: 10px 0;
  }
}
.box-form .container-create-account h1 {
  font-size: 1.2rem;
}
.box-form .container-create-account h2 {
  font-size: 0.8rem;
  margin-bottom: 30px;
}
.box-form .container-create-account .form-grope {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .box-form .container-create-account .form-grope {
    flex-wrap: wrap;
  }
}
.box-form .container-create-account .form-grope .radio {
  vertical-align: middle;
  margin: 0;
}
.box-form .container-create-account .form-grope .checkbox-individual {
  position: relative;
}
@media (max-width: 576px) {
  .box-form .container-create-account .form-grope .checkbox-individual {
    width: 50%;
  }
}
.box-form .container-create-account .form-grope .label-text {
  margin: 0 50px 0 5px;
  font-family: inherit;
  font-size: 0.7rem;
  font-weight: 600;
}
.box-form .container-create-account .form-grope .one {
  position: absolute;
  top: 25px;
  left: 5px;
  opacity: 0;
}
.box-form .container-create-account .form-grope .hidden-text {
  width: 200px;
  height: 100%;
  margin: 25px 0;
  padding: 7px;
  font-size: 0.7rem;
  line-height: normal;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(169, 169, 169, 0.3);
}
@media (max-width: 768px) {
  .box-form .container-create-account .form-grope .hidden-text {
    display: none;
  }
}
.box-form .container-create-account .form-grope .hidden-text p {
  padding: 7px;
  line-height: normal;
}
.box-form .container-create-account .form-grope input[name=choose_type_investor]:checked ~ span.one {
  animation: move 2s linear alternate;
}
@keyframes move {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.box-form .container-create-account .form-checkbox {
  margin: 100px 0 50px 0;
  font-size: 0.6rem;
}
@media (max-width: 576px) {
  .box-form .container-create-account .form-checkbox {
    margin: 10px 0;
  }
}
.box-form .container-create-account .form-checkbox .check-box {
  vertical-align: -3px;
}
.box-form .container-create-account .form-checkbox a {
  color: #3698FB;
}
.box-form .container-create-account .button-create-account {
  display: block;
  height: 37px;
  width: 220px;
  font-size: 0.8rem;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  background-color: #3698FB;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.35);
}
@media (max-width: 576px) {
  .box-form .container-create-account .button-create-account {
    margin: 20px auto;
  }
}
.box-form .container-create-account .button-create-account:hover {
  border: none;
  outline: 0;
  background-color: #255A9B;
  cursor: pointer;
}
.box-form .container-create-account .button-create-account:focus {
  outline: 0;
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */
