$primary: #EFF6FF;
$white:#FFFFFF;

$text:#2A4A5C;

$facebook: #255A9B;
$in: #0076B6;
$blue: #3698FB;
$lightblue: #EAF3FC;

$darkgrey: #7B8A92;
$grey: #96A5B1;
$lightgrey: #AFAFAF;
$superlightgrey: #EEEEEE;

$indent: 15px;
$radius: 5px;
$radius_small: 1px;
$shadow: 0 0 20px rgba(124, 124, 124, 0.3);
$lightshadow: 0 0 20px rgba(169, 169, 169, 0.3);